<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Pascal Briffard</span></strong>. Tous droits réservés.
    </div>
    <div class="credits">
        Application conçue par
        <a target="_blank" href="https://www.github.com/Papoel">Papoel</a>, propulsée par
        <a target="_blank" href="https://www.symfony.com/">Symfony 7</a> et
        <a target="_blank" href="https://getbootstrap.com/">Bootstrap</a>.
    </div>
</footer>
