{% extends('base.html.twig') %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    {% include('app/dashboard/_dashboardHeader.html.twig') %}
    {% include('app/dashboard/_dashboardAside.html.twig') %}


    <main id="main" class="main">
        <!-- Message Flash -->
        <section id="flash_messages" class="container-fluid mt-4">
                {# Display messages Flash #}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endfor %}

            </section>

        <section class="section dashboard">
            <div class="row">
                {% include('app/dashboard/_dashboardUserIndex.html.twig') %}
            </div>
        </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{ include('app/dashboard/_dashboardFooter.html.twig') }}
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>



{% endblock %}
