{% extends 'base.html.twig' %}

{% block title %}Edit Action{% endblock %}

{% block body %}
    {% set user = app.user %}
    {% include('app/dashboard/_dashboardHeader.html.twig') %}
    {% include('app/dashboard/_dashboardAside.html.twig') %}

    <main id="main" class="main">
        <section>
            <div class="row">
                <div class="col-12">
                    {% set route = app.request.get('_route') %}
                    {% if route == "mentor_logbook_action_edit" %}
                        {{ include('action/_formMentorAction.html.twig') }}
                    {% else %}
                        {% if action.agentComment is not null %}
                            <div class="container-fluid">
                                <h1 class="title-guide-page h3">Modifier votre commentaire</h1>
                            </div>
                            {% else %}
                            <div class="container-fluid">
                                <h1 class="title-guide-page h3">Ajouter un commentaire</h1>
                            </div>
                        {% endif %}
                        {{ include('action/_formUserAction.html.twig') }}
                    {% endif %}
                </div>
                <div class="d-flex justify-content-between mt-2">
                        <a class="btn btn-md btn-outline-primary rounded-pill" href="{{ path('dashboard_index', {'nni': app.user.nni}) }}">
                            <i class="bi bi-arrow-left"></i>
                            Retourner sur le tableau de bord
                        </a>
                </div>
            </div>

        </section>
    </main>


{% endblock %}
